* {
  box-sizing: border-box;
  margin: 0; }


body {
  font-family: "Karla", sans-serif;
  text-align: center;
  background-color: #8BC1FF;
 }

.play-now-big {
  font-family: "Karla", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #EC6548;
  margin: 1rem;
  width: 60%;
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #F9F130;
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px #E0D829;
  cursor: pointer; 
}
  .play-now-big:active {
    background-color: #F9F130;
    box-shadow: 0 2px #F9F130;
    transform: translateY(10px); 
}
  .play-now-big:focus {
    outline: 0; 
}
  @media screen and (min-width: 768px) {
    .play-now-big {
      width: 30%; } }
  @media screen and (min-width: 1024px) {
    .play-now-big {
      width: 20%; } }
a {
  text-decoration: none;
  color: inherit; 
}
  a:hover {
    color: #EC6548; 
}

header {
  background: url("./img/flappy-background_lg.png");
  background-position: center-bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  height: 100vh;
  text-align: center; }

.flappy-icon {
  width: 30%;
  margin-top: 2rem; 
}
  @media screen and (min-width: 768px) {
    .flappy-icon {
      width: 20%;
      margin-top: 3rem; 
 	} 
 }
  @media screen and (min-width: 1024px) {
    .flappy-icon {
      width: 15%;
      margin-top: 1.25rem; 
    } 
}

.flappy-logo {
  width: 70%; 
}
  @media screen and (min-width: 768px) {
    .flappy-logo {
      width: 60%; 
    } 
}
  @media screen and (min-width: 1024px) {
    .flappy-logo {
      width: 50%; 
    } 
}

.by-line {
  padding: 1rem;
  font-weight: bolder;
  font-style: italic;
  color: #FDFFFA; 
}
  @media screen and (min-width: 768px) {
    .by-line {
      font-size: 1.5rem; 
    } 
}

.learn-more {
  font-size: 1.25rem;
  color: #533846;
  font-weight: bold; }

/*===================================
FEATURES STYLES
===================================*/
.features-title {
  font-size: 1.5rem;
  color: #EC6548;
  font-weight: bolder;
  padding: 2rem; }
  @media screen and (min-width: 768px) {
    .features-title {
      font-size: 2.5rem; } }

.features-items {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.features-items li {
  list-style: none;
  padding: 2rem; }
  @media screen and (min-width: 768px) {
    .features-items li {
      display: inline-block;
      width: 30%;
      vertical-align: top; } }

.small-flappy-icon {
  width: 50%; }
  @media screen and (min-width: 768px) {
    .small-flappy-icon {
      width: 70%; } }
  @media screen and (min-width: 1024px) {
    .small-flappy-icon {
      width: 80%; } }

.features {
  background-color: #F9F130; }

.sub-title {
  font-size: 1.5rem;
  color: #533846;
  font-style: italic;
  font-weight: bolder; }

.sub-description {
  color: #313131; }

/*===================================
FOOTER STYLES
===================================*/
footer {
  background-color: #533846;
  color: #FDFFFA;
  padding: 1rem; }

.social-icons {
  margin: 0;
  padding: 0; }

.social-icons li {
  color: #F9F130;
  font-size: 3rem;
  list-style: none;
  display: inline-block;
  padding: 1rem; }

.social-icons li:hover {
  color: #EC6548; }

.copy {
  font-size: 0.75rem;
  padding: 2rem 2rem; }
  @media screen and (min-width: 768px) {
    .copy {
      font-size: 1rem; } }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }